---

import BlogArticle from "../../layouts/BlogArticle.astro";
import logo from "../../assets/appImage/logo.svg";
import {Image} from "astro:assets";

---
<BlogArticle title="Visita a UNICARS MOTOR'S" date="Diciembre 19, 2025">
        <Image
                slot="banner"
                src={logo}
                alt="Logo Vertrix"
                class="w-full h-auto"
        />

        <p>
                Nos dirigimos a UNICARS MOTOR'S ubicada en La Concordia, Carrera 6, Calle 6, San Cristóbal, donde sostuvimos una charla agradable y formativa con uno de los socios identificado como José Gregorio Peña. Tocamos distintos temas enfocados al modelo de trabajo de esta pequeña empresa desde, los proveedores y distribuidores, hasta la manera de resolución de problemas internos (del personal), como externo (de los clientes). La charla estuvo acompañada de una breve visita por cada área de trabajo compuesta por: tornos mecánicos, fresadoras, rectificadoras, máquina de corte, máquina de pulir.
        </p>

        <p>
                El archivo adjunto contiene toda la información recopilada sobre las actividades de mercadeo, diseño y manufactura de UNICARS MOTOR'S.
        </p>

        <div>Link archivo</div>
</BlogArticle>