---

import BlogArticle from "../../layouts/BlogArticle.astro";
import logo from "../../assets/appImage/logo.svg";
import {Image} from "astro:assets";

---
<BlogArticle title="Primeras Entrevistas" date="Noviembre 28, 2025">
        <Image
                slot="banner"
                src={logo}
                alt="Logo Vertrix"
                class="w-full h-auto"
        />

        <p>
                El pasado 28 de noviembre de 2025, se inició la recopilación de información mediante visitas a talleres de motocicletas y la aplicación de una encuesta digital en Google Forms. Este instrumento constó de dos preguntas abiertas, diseñadas con el propósito de identificar las necesidades, atributos y deseos de los usuarios.
        </p>
        <p>
                No obstante, fue necesario reorientar la encuesta inicial. Comprendimos que el objetivo debía ser identificar las necesidades reales del cliente, en lugar de validar atributos técnicos que nosotros habíamos asumido como necesarios. Adicionalmente, realizamos una exploración de mercado (benchmarking) analizando los productos líderes en la plataforma Amazon, filtrando por 'más vendidos' y 'mejores marcas'. A continuación, se adjunta un enlace con el registro de audio de las entrevistas y el primer informe de avance.
        </p>
</BlogArticle>