---
import BlogLayout from '../../layouts/Blog.astro';

---

<BlogLayout title="Vertix Blog">
    <div> Banner </div>
    <div> Servicios </div>
    <div> Creacion de Vertrix</div>
    <div> Miembros</div>
    <div> Asignaciones </div>
</BlogLayout>
