@import "tailwindcss";

@theme{
    --color-transparent: transparent;
    --color-primary: #015dab;
    --color-primary-100: #004f8f;
    --color-primary-200: #0066bc;
    --color-secondary: #edf3fc;
    --color-secondary-100: #fefeff;
    --color-tertiary: #253237;
    --color-accent: #44aa82;

    --marker: "-  "
}

*{
    font-family: Mont, Roboto, Arial, sans-serif;
}