---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';

---

<Layout title="Vertrix">
    <div> Banner </div>
    <div> Servicios </div>
    <section class="flex justify-center">
        <div class="flex w-8/10 justify-center gap-4">
            <div class="flex-col items-center w-1/2">
                <h2>Creación de vertrix</h2>
                <p>
                    VERTRIX nace de la unión entre “vértice” (el punto donde todo converge) y “matrix” (el sistema donde
                    todo se crea y cobra forma). Representa el lugar exacto donde las ideas se encuentran, se transforman
                    y se convierten en realidad.
                </p>
            </div>
            <div class="flex-col items-center w-1/2">
                <div>Images</div>
            </div>
        </div>
    </section>
    <div> Miembros</div>
    <div> Asignaciones </div>
</Layout>
