---

---

<div class="flex-col items-center gap-5 p-6 w-full">
    <a href="/blog/actividad_1" class="">
        <div>Visita a una empresa</div>
    </a>
    <a href="/blog/actividad_2" class="">
        <div>Encuestas </div>
    </a>
    <a href="/blog/actividad_3" class="">
        <div>Productos ¿sin sentido?</div>
    </a>
    <a href="/blog/actividad_4" class="">
        <div>Actividad 4</div>
    </a>
</div>