---

---

<div class="flex flex-col gap-5 p-6 w-full h-full bg-secondary text-white">
    <a href="/blog/actividad_4" class="mb-2">
        <div class="hover:text-accent">Actividad 4</div>
    </a>
    <a href="/blog/actividad_3" class="mb-2">
        <div class="hover:text-accent">Productos ¿sin sentido?</div>
    </a>
    <a href="/blog/actividad_1" class="mb-2">
        <div class="hover:text-accent">Visita a una empresa</div>
    </a>
    <a href="/blog/actividad_2" class="mb-2">
        <div class="hover:text-accent">Encuestas </div>
    </a>
</div>