---

---

<div class="flex flex-col gap-5 p-6 w-full h-full bg-secondary text-white">
    <a href="/blog/actividad_7" class="mb-2">
        <div class="hover:text-accent">Encuesta y Niveles de Importancia</div>
    </a>
    <a href="/blog/actividad_6" class="mb-2">
        <div class="hover:text-accent">Necesidades Detectadas</div>
    </a>
    <a href="/blog/actividad_5" class="mb-2">
        <div class="hover:text-accent">Benchmarking</div>
    </a>
    <a href="/blog/actividad_4" class="mb-2">
        <div class="hover:text-accent">Nuevas Entrevistas y Primeros Conceptos</div>
    </a>
    <a href="/blog/actividad_3" class="mb-2">
        <div class="hover:text-accent">Primeras Entrevistas</div>
    </a>
    <a href="/blog/actividad_2" class="mb-2">
        <div class="hover:text-accent">Visita a UNICARS MOTOR'S</div>
    </a>
    <a href="/blog/actividad_1" class="mb-2">
        <div class="hover:text-accent">Juguetes Innovadores</div>
    </a>
</div>