---

const { title, previewText, activity, date } = Astro.props;

---

<div class="bg-secondary flex flex-col justify-center items-center my-3 w-70/100 h-[360px]">
    <div class="text-left w-full px-5">{date}</div>
    <div class="p-3 h-[200px] overflow-hidden flex items-center justify-center">
        <slot/>
    </div>
    <div class="w-full h-[100px] px-7 py-2">
        <a href=`/blog/${activity}` class="flex justify-between">
            <div class="w-4/10 text-3xl">{title}</div>
            <div class="w-5/10">{previewText}</div>
        </a>
    </div>
</div>