<footer class="bg-black flex justify-center p-4 text-white">
    <div class="flex-col px-6 justify-center w-8/10">
        <div class="flex w-full justify-between">
            <div>Productos</div>
            <div>Compañia</div>
            <div>Atencion al Cliente</div>
        </div>
        <p class="text-center mt-6">© 2025 Vertrix</p>
    </div>
</footer>