---
import {Image} from 'astro:assets';
import logo from '../assets/appImage/logo.png'
---
<div class="w-full flex items-center gap-5 px-18 py-5">
    <Image
            src={logo}
            alt="Logo Vertrix"
            class="h-[100px] w-auto"
    />
</div>