<footer class="bg-black flex-col gap-4 justify-center p-6 text-white">
    <div class="flex w-full justify-between">
        <div>Productos</div>
        <div>Compañia</div>
        <div>Atencion al Cliente</div>
    </div>
    <p class="text-center">© 2025 Vertrix</p>
</footer>