---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';

---

<Layout>
    <div> Banner </div>
    <div> Servicios </div>
    <div> Creacion de Vertrix</div>
    <div> Miembros</div>
    <div> Asignaciones </div>
</Layout>
