---
import "../styles/global.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import BlogNavbar from "../components/BlogNavbar.astro";

interface Props{
    title: string;
    date: string;
}

const { title, date } = Astro.props;
const	currentPath = Astro.url.pathname;
---
<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.png" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body class="min-h-screen w-screen m-0">
        <Header />
        <div class="flex w-full">
            <div class="bg-black flex justify-center w-full text-white">
                <div class="flex flex-col w-8/10 items-center justify-between">
                    <slot name="banner"/>
                    <div class="bg-secondary flex flex-col items-center justify-around w-5/10 h-[120px] border-b-1 border-b-accent">
                        <div>{date}</div>
                        <div class="text-3xl">{title}</div>
                    </div>
                    <slot />
                </div>
            </div>
        </div>

        <Footer />
    </body>
</html>
